<!DOCTYPE html>
<html>
  <head>
    <title>Email Sent</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../partials/head');%>
  </head>
<body>
<%- include('../partials/header');%>

<div class="ui huge header centered">
    Almost Done!
</div>
<div class="ui section divider"></div>
<div class="ui positive message">
    <div class="header">
        One more step.
    </div>
    <p>
        For your safety, we've sent an email to the account you provided. Please follow the link there to activate your account.
    </p>
</div>
</body>

</html>
