<header>
    <div class="ui top menu">
        <div class="ui item header medium">
            <a href="/">
                <b>Resly</b>
            </a>
        </div>
        <div class="item right">
            <a class="ui button" href="/view">
                View
            </a>
        </div>
        <div class="item">
            <a class="ui primary button" href="/submit">
                Submit
            </a>
        </div>
    </div>
</header>