<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/header'); %>

<div class="ui huge header centered" href="/">
    Resly
</div>
<div class="ui section divider"></div>
<div class="ui grid centered stackable">
    <a class="ui button four wide" href="/view">View</a>
    <div class="one wide"></div>
    <a class="ui button primary four wide" href="/submit">Submit</a>
</div>
</body>

</html>
