<!DOCTYPE html>
<html>
<head>
    <title>Resly</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/header'); %>

<% if(!isLoggedIn){ %>
<div class="ui huge header centered" href="/">
    What's the password?
</div>
<form class="ui form container" method="post">
    <% if(invalid){ %>
    <div class="ui message negative">
        Sorry, that is incorrect.
    </div>
    <% } %>
    <div class="field">
        <input placeholder="Enter the group password" type="password" name="password"/>
    </div>
    <div class="field">
        <input class="ui button primary submit" type="submit" value="Enter">
    </div>
</form>
<% }else{ %>
<div class="ui huge header centered" href="/">
    Welcome back!
</div>
<div class="ui section divider hidden"></div>
<form class="ui form centered grid container" method="post" action="logout">
    <input class="ui negative submit button" type="submit" value="Log Out"/>
</form>
<% } %>
</body>

</html>
