<!DOCTYPE html>
<html>
<head>
    <title>Resly</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/header'); %>

<% if(!isLoggedIn){ %>
<div class="ui huge header centered" href="/">
    Nice to meet you!
</div>
<div class="ui message">
    <div class="header">
        For your security
    </div>
    <p>
        In the interest of protecting your privacy, Resly now requires you to make an account with your UofT email
        address.
        If you have already made a profile, <b>it will not be affected</b>, but viewing it and other students will
        require an account.
        If you have any concerns or questions, please contact <b>rezlysys@gmail.com.</b>
    </p>
</div>
<form class="ui form container" method="post">
    <% if(invalid){ %>
    <div class="ui message negative">
        Sorry, that is incorrect.
    </div>
    <% } %>
    <% if(conflict){ %>
    <div class="ui message negative">
        Sorry, that email address is already in use.
    </div>
    <% } %>
    <div class="field">
        <div class="ui right labeled input">
            <input type="text" name="email" placeholder="Enter your UofT email address.">
            <div class="ui label">
                @mail.utoronto.ca
            </div>
        </div>
    </div>
    <div class="field">
        <input placeholder="Enter a unique password" type="password" name="password"/>
    </div>
    <div class="two fields">
        <div class="field">
            <input name="submit" class="ui button submit" type="submit" value="Register">
        </div>
        <div class="field">
            <input name="submit" class="ui button primary submit" type="submit" value="Login">
        </div>
    </div>
</form>
<% }else{ %>
<div class="ui huge header centered" href="/">
    Welcome back!
</div>
<div class="ui section divider hidden"></div>
<form class="ui form centered grid container" method="post" action="logout">
    <input class="ui negative submit button" type="submit" value="Log Out"/>
</form>
<% } %>
</body>

</html>
